@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9476C;
  padding: 10% 0 10% 0;
}


.quiz {
  background-color: #FF8195;
}

.title {
  font-size: 5em;
}