@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9476C;
  padding-top: 20%; /* take this out later when there's a title bar */
}


.quiz {
  background-color: #FF8195;
}

.button {
  background-color: #FAF2E8;
}