@tailwind base;
@tailwind components;
@tailwind utilities;

.question {
  font-size: 18px;
  margin-left: 5px;
}

.button {
  background: #b3b3b3;
  border: 1px solid #191414;
  font-size: 16px;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 150px;
  margin: 1px;
}